@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #00356B;
    color: white;
}

.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #96D4CA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    width: 170px;      
}

.barre a {
    font-size: 20px;
    color: 00356B;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: 0.3s;

}

.barre a:hover {
    color: #00abf0;
    
}
.Accueil {
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.accueil-content {
    max-width: 700px;
}

.accueil-content h1 {
    font-size: 45px;
    font-weight: 700;
}
.accueil-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #00abf0;
}
.webdev {
    font-size: 32px;
}
.accueil-content p {
    font-size: 16px;
}
.footer {
    margin: 170px;
    padding: 20px;
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
    border: 2px solid white;

}
.retour {
    text-align: center;
    font-weight: 800;
}
.interview-text {
    margin: 100px;
}
.interview-text h1 {
    text-align: center;
    margin-bottom: 5%;
}
.rapport-text {
    margin: 100px;
}
.rapport-text h1 {
    text-align: center;
    text-decoration: solid;
}
.rapport-text p {
    text-align: justify;
}
.descriptionEntreprise {
    margin: 100px;
}
#bas {
    text-align: center;
    margin-bottom: 200px;
}
