@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #00356B;
    color: white;    
}

.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #00abf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    width: 200px;      
}

.barre a {
    font-size: 20px;
    font-weight: 600;
    color: #00356B;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
}

.barre .selected{
    text-decoration: underline;
    color: white;
}

.barre a:hover {
    color: #fff;
}

.Accueil {
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 8%;
    background-image: url(../images/software-developer-6521720_1280.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.accueil-content {
    max-width: 700px;
}

.accueil-content h1 {
    font-size: 45px;
    font-weight: 400;
}
.accueil-content h2{
    text-align: right;
    font-size: 30px;
    font-weight: 300;
    color: #00abf0;
}
.accueil-content h3 {
    font-size: 25px;
    font-weight: 300;
    color: #00abf0;
}
.accueil-content p {
    font-size: 16px;
    margin-bottom: 10%;
    margin-top: 5%;
}
.accueil-content h4{
    font-weight: 200;    ;
}

.footer {
    margin-top: -2%;
    margin-bottom: 10%;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: space-between;
    font-weight: 300;
    text-align: center;
    a:hover {
        color: #00abf0;
    }
    a:link, :visited, :active{
        color: #fff;
    }
}
.socialMedia{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    font-weight: 300;
    a:hover {
        color: #00abf0;
    }
    a:link, :visited, :active{
        color: #fff;
    }
    a href{
        margin-left: 10px;
        margin-right: 10%;
        text-align: center;
    }
}

.retour {    
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 300;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 5%;
    a:hover {
        color: #00abf0;
    }
    a:link, :visited, :active{
        color: #fff;
    }
}
.retourPages {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 300;
    a:hover {
        color: #00abf0;
    }
    a:link, :visited, :active{
        color: #fff;
    }
}
.titleInterview {
    margin: 100px;
    h1 {
    text-align: center;
    margin-bottom: 3%;
    }
    p {
        margin-left: 10%;
        margin-bottom: 10px;
        font-weight: 400;
    }
    h2 {
        margin-left: 5%;
        margin-bottom: 20px;
    }
    li{
        margin-left: 10%;
    }
}


.rapport-text {
    margin: 100px;
}
.rapport-text h1 {
    text-align: center;
    text-decoration: solid;
}
.rapport-text p {
    text-align: justify;
}
.descriptionEntreprise {
    margin: 100px;
}
#top{
    text-align: center;
    margin-bottom: 200px;
    font-weight: 300;
    margin-bottom: 5%;
}
#bas{
    text-align: center;
    margin-bottom: 200px;
    font-weight: 300;
    margin-bottom: 5%;
    a:hover {
        color: #00abf0;
    }
    a:link, :visited, :active{
        color: #fff;
    }
}
.a:hover{
        color: #00abf0;
    }
    a:link, :visited, :active{
        color: #fff;
    }

.titleExpoGalerie {
    margin: 100px;
    text-align: center;
    font-weight: 300;
}
.contentExpoGalerie {
    text-align: justify;
    margin: 100px;
    font-weight: 300;
}
.Expo {
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 10 10%;
    background-image: url(../images/imgExpo/IMG_7567.jpg);
    background-position: left ;
    background-repeat: no-repeat;
    background-size: 35%;
    margin-bottom: 50%;
    margin-top: 5%;
    margin-left: 5%;
    
}
.expoContent{
    max-width: 60%;
    text-align: justify;
    margin-top: 40%;
    margin-right: 5%;
    margin-left: 40%;
}
.expoContent h1 {
    margin-bottom: 40px;
}
.expoContent p{
    margin-bottom: 10px;
}

.expolink {
    margin: 100px;
    a:hover {
        color: #00abf0;
    }
    a:link, :visited, :active{
        color: #fff;
    }
}
div.scroll-container {
    background-color: #00356B;
    overflow: scroll;
    white-space: nowrap;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
}
div.scroll-container img {
    padding: 5px;
    margin-right: 70px;
    width: 400px;
    height: 500px;
    border-radius: 8%;
    border-right-style: outset;
    border-right-color: #2398bf;
}
div.scroll-container img:hover {
    filter: drop-shadow(5px 5px 10px #000000);
    transform: scale(1.0);
    width: 700px;
    height: 800px;    
}
.titleConclusion{
    text-align: center;
    margin: 100px;
    font-weight: 400;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
  
.grid-item {
    padding: 5%;
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 10%;  
    font-weight: 300;
}   
.grid-item2 {
    padding: 5%;
    margin-bottom: 10%;
} 